/* I reset the default styles. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

/* Light Mode Colours*/
.Light-Mode-Colors {
    --Background-Color-Change: white;
    --Maroon-Color: rgba(73, 48, 54, 255);
    color: #333;
}

/* Dark Mode Colours*/
.Dark-Mode-Colors {
    --Background-Color-Change: #444444;
    --White-Text-Color: white;
    color: var(--White-Text-Color);
}

/* These are the stylings I used for the body element. */
body {
    background: var(--Background-Color-Change);
    overflow-x: hidden;
}

/* This section styles the header of my Web Development Personal Portfolio Website. */
.Web-Dev-Portfolio-Header {
    background: var(--Maroon-Color);
    display: flex;
    align-items: center;
    position: fixed;
    padding: 25px 7%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/* This styles the logo of my website. */
.Web-Dev-Portfolio-Logo {
    margin-right: auto;
    cursor: pointer;
    animation: slideTransitionFromRight 1.8s ease forwards;
}

/* This styles the logo upon hover. */
.Web-Dev-Portfolio-Logo:hover {
    transform: scale(1.2);
    animation: none; /* To disable the animation on hover. */
}


/* Navigation Menu: */
/* This styles the navigation links in my Web Development Personal Portfolio Website. */
.Web-Dev-Portfolio-Navigation-Menu a {
    position: relative;
    display: inline-block;
    align-items: center;
    color: white;
    font-size: 19px;
    font-weight: 550;
    margin-right: 33px;
    text-decoration: none;
    opacity: 0;
    animation: slideTransitionFromRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

/* This styles the line below the navigation links in my Web Development Personal Portfolio Website. */
.Web-Dev-Portfolio-Navigation-Menu a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0; /* I set the width to 0 for the invisible line. */
    height: 2px;
    background: white;
    transition: .3s;
}

/* This styles the line below the navigation links in my Web Development Personal Portfolio Website when hovered. */
.Web-Dev-Portfolio-Navigation-Menu a:hover::before {
    width: 100%; /* When the user hovers, the line below the text expands to its full width. */
}

/* Light and Dark Mode Buttons: */
/* This styles the dark mode button within my Web Development Personal Portfolio Website. */
.Web-Dev-Portfolio-Dark-Mode-Button {
    display: flex;
    margin-top: 1px;
    cursor: pointer;
    opacity: 0;
    animation: slideTransitionFromRight 1s ease forwards;
    animation-delay: 2.9s;
}
/* This styles the icon. */
.Web-Dev-Portfolio-Dark-Mode-Button .Dark-Mode-Button {
    color: white;
    font-size: 28px;
}

/* This styles the sun and moon icons when hovered in light mode. */
.Light-Mode-Colors .bx-moon:hover,
.Light-Mode-Colors .bx-sun:hover {
    color: rgb(255, 255, 0); /* The sun's color changes into yellow when hovered. */
    transform: scale(2.1); /* This enlarges the icon on hover for emphasis. */
    transition: color 0.3s ease, transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* To make the transition for the color and size change smooth. */
}

/* This styles the sun and moon icons when hovered in dark mode. */
.Dark-Mode-Colors .bx-sun:hover,
.Dark-Mode-Colors .bx-moon:hover {
    color: rgb(204, 204, 204); /* The moon's color changes into gray when hovered. */
    transform: scale(2.1); /* This enlarges the icon on hover for emphasis. */
    transition: color 0.3s ease, transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* To make the transition for the color and size change smooth. */
}


/* This styles the h1 elements in the My-Credentials-Text container. */
.My-Credentials-Text h1 {
    text-align: center;
    font-size: 65px;
    margin-top: 150px;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideTransitionFromRight 1s ease forwards;
    animation-delay: .7s;
}

/* This styles the Web-Dev-Portfolio-CredentialsPage-Container container */
.Web-Dev-Portfolio-CredentialsPage-Container {
    position: relative;
    height: 700px;
    max-width: 990px;
    margin: auto;
}


/* This styles the images of my certificates within the sliding image container. */
.Web-Dev-Portfolio-CredentialsPage-Container .Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images {
    position: absolute;
    background-size: contain;
    display: inline-block;
    height: 100px;
    width: 100px;
    top: 50%;
    border-radius: 15px;
    transform: translate(150px, -290px);
    background-position: 50% 50%;
    box-shadow: 0 30px 50px #505050;
    transition: 0.8s;
}

/* This styles specific images within sliding image container. */
.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(1),
.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(2){
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
}

/* This also styles the rest of the images individually within the sliding image container. */
.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(3){
    left: 80%;
}
.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(4){
    left: calc(70% + 220px);
}
.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(5){
    left: calc(23% + 440px);
}

.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(n + 6){
    left: calc(70% + 220px);
    opacity: 0;
}

.Web-Dev-Portfolio-CredentialsPage-SlidingImage .Web-Dev-Portfolio-CredentialsPage-Images:nth-child(2) {
    display: block;
}


/* Styling for the Back and Next Buttons: */
.backAndnextButton{
    position: absolute;
    text-align: center;
    width: 100%;
}

/* This styles the buttons that is within the backAndnextButton container. */
.backAndnextButton button{
    height: 35px;
    width: 40px;
    margin-top: 720px;
    margin-bottom: 120px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background: var(--Maroon-Color);
    border: 2px solid var(--Maroon-Color);
    transition: 0.3s;
}

/* This adds hover effects to the buttons that is within the backAndnextButton container. */
.backAndnextButton button:hover{
    color: var(--Maroon-Color);
    background-color: white;
    border-color: var(--Maroon-Color);
    font-weight: bold;
    transform: scale(1.2);
    animation: none; /* Disable the animation on hover */
}


/* The following lines below styles the other slider that would show the image of the certificate, a short descriptipn of its course, and a button that will redirect the user to the link of the certificate. */
/* This styles the entire container of the slider. */
.Certificate-Slider-Description {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 60px;
}
          
/* This styling displays the carousel and navigation as block elements. */
#Certificate-Slider-Description-Carousel, #Certificate-Slider-Description-Carousel-Navigation {
  flex: initial;
  display: block;
}

/* This styles the certificate carousel. */
#Certificate-Slider-Description-Carousel {
  height: 700px;
  width: 1200px;
  text-align: center;
  overflow: hidden;
}
          
/* This styles the wrapper for the content inside the carousel that handles the sliding effect. */
.Certificate-Slider-Description-Wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

/* This styles the h1 elements inside the "Certificate-Slider-Description-Wrapper" container. */
.Certificate-Slider-Description-Wrapper h1 {
  font-size: 50px;
}

/* This styles the p elements inside the "Certificate-Slider-Description-Wrapper" container. */
.Certificate-Slider-Description-Wrapper p {
  font-size: 20px;
}

/* This styles the button that redirects the user to the link of the certificate. */
.Link-Certificate-Button {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background: var(--Maroon-Color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  border: 2px solid var(--Maroon-Color);
  padding: 12px 28px;
  text-decoration: none;
  transition: .5s ease;
}

/* This styles the on hover effect of button that redirects the user to the link of the certificate. */
.Link-Certificate-Button:hover {
  color: var(--Maroon-Color);
  background-color: var(--White-Text-Color);
  border-color: var(--Maroon-Color);
  letter-spacing: 2px;
  font-weight: bold;
}
          
/* This styles the effect for the transition of the different slides in the carousel. */
#Introduction-Python:checked ~ #Certificate-Slider-Description-Carousel .Certificate-Slider-Description-Wrapper {
  -webkit-transform: translateY(0);
  transform: translateY(0); 
}
          
#Python-Intermediate:checked ~ #Certificate-Slider-Description-Carousel .Certificate-Slider-Description-Wrapper {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); 
}

#Python-Developer:checked ~ #Certificate-Slider-Description-Carousel .Certificate-Slider-Description-Wrapper {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%); 
}

#Introduction-HTML:checked ~ #Certificate-Slider-Description-Carousel .Certificate-Slider-Description-Wrapper {
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%); 
}

#Introduction-CSS:checked ~ #Certificate-Slider-Description-Carousel .Certificate-Slider-Description-Wrapper {
  -webkit-transform: translateY(-400%);
  transform: translateY(-400%); 
}

#Introduction-JavaScript:checked ~ #Certificate-Slider-Description-Carousel .Certificate-Slider-Description-Wrapper {
  -webkit-transform: translateY(-500%);
  transform: translateY(-500%); 
}

#Web-Development:checked ~ #Certificate-Slider-Description-Carousel .Certificate-Slider-Description-Wrapper {
  -webkit-transform: translateY(-600%);
  transform: translateY(-600%); 
}
       
/* This styles the "CertificateCarouselContent_" container. */
[class^="CertificateCarouselContent_"] {
  padding: 60px;
  position: relative;
  height: inherit;
  width: inherit;
  overflow: auto;
}
          
/* This styles the navigation of the carousel. */
#Certificate-Slider-Description-Carousel-Navigation {
  margin-left: 15px;
}

/* This styles each of the navigation "Label". */
[class^="Label"] {
  display: block;
  text-align: center;
  font-size: 30px;
  color: #999;
  background-color: var(--Maroon-Color);
  height: 40px;
  width: 40px;
  margin: 10px 0;
  line-height: 39px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
          
/* This styles the on hover effect for the navigation "Labels". */
[class^="Label_"]:hover {
  color: var(--Maroon-Color);
  background-color: var(--White-Text-Color);
  scale: 1.3;
  border: 2px solid var(--Maroon-Color);
}
          
/* This styles the active or current selected navigation label. */
#Introduction-Python:checked ~ #Certificate-Slider-Description-Carousel-Navigation .Label_Introduction-Python,
#Python-Intermediate:checked ~ #Certificate-Slider-Description-Carousel-Navigation .Label_Python-Intermediate,
#Python-Developer:checked ~ #Certificate-Slider-Description-Carousel-Navigation .Label_Python-Developer,
#Introduction-HTML:checked ~ #Certificate-Slider-Description-Carousel-Navigation .Label_Introduction-HTML,
#Introduction-CSS:checked ~ #Certificate-Slider-Description-Carousel-Navigation .Label_Introduction-CSS,
#Introduction-JavaScript:checked ~ #Certificate-Slider-Description-Carousel-Navigation .Label_Introduction-JavaScript,
#Web-Development:checked ~ #Certificate-Slider-Description-Carousel-Navigation .Label_Web-Development {
  color: white;
  background-color: black;
}

/* This styles the image inside the carousel and ensures that it maintains 100% of its aspect ratio. */
.CertificateCarouselContent_Introduction-Python img,
.CertificateCarouselContent_Python-Intermediate img,
.CertificateCarouselContent_Python-Developer img,
.CertificateCarouselContent_Introduction-HTML img,
.CertificateCarouselContent_Introduction-CSS img,
.CertificateCarouselContent_Introduction-JavaScript img,
.CertificateCarouselContent_Web-Development img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto; 
}


/* The following lines are for styling the footer at the bottom of the webpage. */
/* This styles the FooterAtBottom container. */
.FooterAtBottom {
    height: 370px;
    width: 1525px;
    background-color: var(--Maroon-Color);
    padding-top:2px;
    margin-top: 50px;
}

/* This styles the logo in the footer. */
.FooterAtBottom-Logo {
  margin-top: 30px;
  text-align: center;
  animation: slideTransitionFromRight 1s ease forwards;
}

.FooterAtBottom-Logo a{
  text-decoration: none;
  cursor: pointer;
}

/* This styles the logo in the footer when hovered. */
.FooterAtBottom-Logo:hover {
  transform: scale(1.2);
  animation: none;
}

/* This styles the FooterAtBottom-Icon-Container container. */
.FooterAtBottom-Icon-Container{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  margin-top: 80px;
}

/* The following lines styles each contact icon in the footer. */
.FooterAtBottom-Icon-Container .ContactIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  margin: 0 30px;
  cursor: pointer;
  z-index: 1;
}

/* This styles the contact icon container. */
.FooterAtBottom-Icon-Container .ContactIcon span{
  height: 60px;
  width: 60px;
  color: var(--Maroon-Color);
  background: white;
  box-shadow: 0px 15px 15px rgba(0,1,0.4,0.1);
  z-index: 1;
}

/* This styles all of the anchor tags within the contact icon. */
.FooterAtBottom-Icon-Container .ContactIcon span a {
  text-decoration: none;
  color: inherit;
}

/* This styles all of the icon within the contact icon. */
.FooterAtBottom-Icon-Container .ContactIcon span i{
  font-size: 25px;
  line-height: 60px;
  text-decoration: none;
}

/* The following lines styles the pop-up box when hovering over the contact icons. */
.FooterAtBottom-Icon-Container .ContactIcon .ContactIconPop-Up{
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 20px;
  font-weight: 900;
  color: white;
  background: white;
  box-shadow: 0px 15px 15px rgba(0,1,0.4,0.1);
  padding: 10px 19px;
  pointer-events: none;
  transition: 0.4s cubic-bezier(0.65, -0.58, 0.254, 1.58);
  z-index: 1;
}

.FooterAtBottom-Icon-Container .ContactIcon:hover .ContactIconPop-Up{
  top: -60px;
  opacity: 1;
  pointer-events: auto;
}

/* This styles the arrow of the pop-up box. */
.ContactIcon .ContactIconPop-Up:before{
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  background: white;
  left: 50%;
  bottom: -9px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.65, -0.58, 0.254, 1.58);
}

/* This styles the color of the icon when hovering over the contact icon. */
.FooterAtBottom-Icon-Container .ContactIcon:hover span{
  color: white;
}

/* This adds a text shadow effect when hovered. */
.FooterAtBottom-Icon-Container .ContactIcon:hover span,
.FooterAtBottom-Icon-Container .ContactIcon:hover .ContactIconPop-Up{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

/* This styles the background of the Facebook contact icon when hovered. */
.FooterAtBottom-Icon-Container .Facebook:hover span,
.FooterAtBottom-Icon-Container .Facebook:hover .ContactIconPop-Up,
.FooterAtBottom-Icon-Container .Facebook:hover .ContactIconPop-Up:before{
  background: #1877F2;
}

/* This styles the background of the Instagram contact icon when hovered. */
.FooterAtBottom-Icon-Container .Instagram:hover span,
.FooterAtBottom-Icon-Container .Instagram:hover .ContactIconPop-Up,
.FooterAtBottom-Icon-Container .Instagram:hover .ContactIconPop-Up:before{
  background: #C13584;
}

/* This styles the background of the YouTube contact icon when hovered. */
.FooterAtBottom-Icon-Container .YouTube:hover span,
.FooterAtBottom-Icon-Container .YouTube:hover .ContactIconPop-Up,
.FooterAtBottom-Icon-Container .YouTube:hover .ContactIconPop-Up:before{
  background: #FF0000;
}

/* This styles the background of the LinkedIn contact icon when hovered. */
.FooterAtBottom-Icon-Container .LinkedIn:hover span,
.FooterAtBottom-Icon-Container .LinkedIn:hover .ContactIconPop-Up,
.FooterAtBottom-Icon-Container .LinkedIn:hover .ContactIconPop-Up:before{
  background: #0077B5;
}

/* This styles the background of the Gmail contact icon when hovered. */
.FooterAtBottom-Icon-Container .Gmail:hover span,
.FooterAtBottom-Icon-Container .Gmail:hover .ContactIconPop-Up,
.FooterAtBottom-Icon-Container .Gmail:hover .ContactIconPop-Up:before{
  background: 	#B23121;
}

/* The following lines styles the navigation menu in the footer. */
.FooterAtBottom-NavigationMenu{
  margin: 30px;
}

/* This styles the unorder list for the navigation menu list in the footer. */
.FooterAtBottom-NavigationMenu ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

/* This styles each of the navigational menu item link in the footer. */
.FooterAtBottom-NavigationMenu ul li a{
  font-size: 20px;
  color:white;
  margin: 15px;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.9s;
}

/* This styles the navigation menu when hovered. */
.FooterAtBottom-NavigationMenu ul li a:hover{
  opacity: 1000;
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: var(--Maroon-Color);
    padding: 20px;
    z-index: 3;
}

/* The following lines are the Keyframe animations: */
@keyframes imageSlider {
    from{
        opacity: 0; /* It has an opacity of 0 at the start. */
        transform: translate(0, 100px);
    }

    to{
        opacity: 1; /* It has an opacity of 1 at the end. */
        transform: translate(0);
    }
}

/* Keyframe animation for sliding in from the right. */
@keyframes slideTransitionFromRight {
    0% {
        opacity: 0; /* It has an opacity of 0 at the start. */
        transform: translateX(100px); /* It moves it 100px to the right. */
    }
    100% {
        opacity: 1; /* It has an opacity of 1 at the end. */
        transform: translateX(0); /* It moves back to its original position. */
    }
}